<launch>
    <group>
        <push-ros-namespace namespace="unitree"/>

        <node pkg="unitree_cameras" exec="camera_node" name="left_stereo">
            <param name="device" value="1"/>
        </node>

        <node pkg="unitree_cameras" exec="camera_node" name="righ_stereo">
            <param name="device" value="0"/>
        </node>
    </group>
</launch>